/*--------------------------------------------------------------
3. content
--------------------------------------------------------------*/

/*3.1 wpo-static-hero*/

.static-hero {




	.hero-content {


		&.s2 {
			margin-bottom: 20px;
		}

		.images {
			position: relative;

			&::before {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				content: '';
				background: linear-gradient(126.4deg, rgba(0, 0, 0, 0.52) 29.67%, rgba(0, 0, 0, 0) 53.01%);
			}

			img {
				width: 100%;
				object-fit: cover;
			}
		}

		.hero-text {
			position: absolute;
			left: 50px;
			top: 50%;
			max-width: 262px;

			@media (max-width:1399px) {
				top: 40%;
			}

			@media (max-width:1199px) {
				top: 30%;
			}

			@media (max-width:991px) {
				top: 50%;
			}
			@media (max-width:575px) {
				top: 25%;
				left: 20px;
			}
			
			h2 {
				font-family: $heading-font;
				font-weight: 700;
				font-size: 16px;
				letter-spacing: 0.54em;
				text-transform: uppercase;
				color: $red;
			}

			h3 {
				font-family: $heading-font;
				font-weight: 700;
				font-size: 48px;
				color: $white;

				@media (max-width:1199px) {
					font-size: 40px;
				}

				@media (max-width:767px) {
					font-size: 35px;
				}
				@media (max-width:399px) {
					font-size: 25px;
				}
			}

		}

	}

	.col {

		&:last-child {
			.hero-content {
				position: relative;
				@media (max-width:991px) {
					margin-top: 20px;
				}



				.hero-text {
					max-width: 262px;
					top: 30%;
					@media (max-width:575px) {
						top: 15%;
						left: 20px;
					}
					

					h2 {
						font-weight: 500;
						font-size: 12px;
						letter-spacing: 0;
						text-transform: uppercase;
						color: #DCDCDC;
					}

					h3 {
						font-family: $heading-font;
						font-weight: 700;
						color: $white;
						font-size: 24px;
						text-transform: capitalize;
						color: $white;
						@media (max-width:399px) {
							font-size: 17px;
							line-height: 20px;
						}
						span {
							color: $red;
						}
					}

					.theme-btn {
						background: transparent;
						padding: 0;
						color: $theme-primary-color;

						&:hover {
							color: $white;
						}

						&:hover:after {
							opacity: 0;
						}
					}

				}

			}
		}
	}

}

@-webkit-keyframes spineer {
	from {
		-webkit-box-shadow: 0 0 0 0 rgba(59, 81, 125, 0.99);
		box-shadow: 0 0 0 0 rgba(59, 81, 125, 0.99);
	}

	to {
		-webkit-box-shadow: 0 0 0 45px rgba(59, 81, 125, 0.01);
		box-shadow: 0 0 0 45px rgba(59, 81, 125, 0.01);
	}
}

@keyframes spineer {
	from {
		-webkit-box-shadow: 0 0 0 0 rgba(59, 81, 125, 0.99);
		box-shadow: 0 0 0 0 rgba(59, 81, 125, 0.99);
	}

	to {
		-webkit-box-shadow: 0 0 0 45px rgba(59, 81, 125, 0.01);
		box-shadow: 0 0 0 45px rgba(59, 81, 125, 0.01);
	}
}