/*---------------------------
	Fonts
----------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;500;600;700&display=swap');

    


// fonts
$base-font-size: 15;
$base-font: 'Mukta', sans-serif;
$heading-font:'Mukta', sans-serif;


// color
$dark-gray: #333333;//
$body-color: #687693;
$white: #fff;
$light:#DCDCDC;//
$black: #000;
$small-black: #333;
$red: #FC0012;

$theme-primary-color: #E0A500;//
$theme-primary-color-s2: #071e93;
$body-bg-color: #fff;
$section-bg-color: #F5F2EE;//
$section-bg-color-s2: #2A313E;//
$text-color:  #4F4F4F;//
$text-light-color: #3F475E;//
$heading-color: $dark-gray;
$border-color: #ebebeb;
$border-color-s2: #d8e0f1;